name: Build and publish image
on:
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Build and push Docker image to GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Explain
        run: echo "The purpose of this job is to allow workflows of the same name to be triggered on other branches"
